.Faq{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.faq_body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.header{
  display: flex;
  width: 100%;
 justify-content: start;
}
.FaqHeader{
  color: #000;
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.048px;
}
.faqBody{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.faqText{
display: flex;
width: 50%;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
}
.faq_Que{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  width: 100%;
}
.queText{
  color: #000;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.048px;
}
.faqIcon{
  height: 30px;
  width: 30px;
  background-color: rgba(255, 166, 0, 0.288);
  border-radius: 100%;
  padding: 5px;
  color: white;
}
.faq_ans{
display: flex;
flex-direction: column;
gap: 20px;
width: 100%;

}
.faqAnsBody{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
}
/* li{
  color: red;
  display: flex;
  align-items: center;

}

.ansIcon{
  width: 25px;
  height: 25px;
} */

